<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="Ingreso1">TODO write content</div>
        
        
        
        
        <script>
         const url = 'http://localhost:8081/Act1'; // API de ejemplo que devuelve una lista
const listaUI = document.getElementById('Ingreso1');

fetch(url)
  .then(respuesta => respuesta.json()) // Convierte la respuesta a una lista de objetos JS
  .then(usuarios => {
    let contenidoHTML = ''; // Variable para acumular el HTML

    // Recorremos la lista de usuarios
    usuarios.forEach(usuario => {
        
        let iusuario = usuario.m;
      contenidoHTML += `
        <li>
          <strong>Nombre:</strong> ${iusuario.nombre} <br>
          <strong>Temperatura:</strong> ${iusuario.indicaciont}
        </li>
        <hr>`;
    });

    // Inyectamos todo el bloque de una sola vez para mejor rendimiento
    listaUI.innerHTML = contenidoHTML;
  })
  .catch(error => console.error('Error al cargar la lista:', error));
   
            
        </script>
    </body>
</html>
